<h3>What year did Marty originally travel back in time to?</h3>

<form action = '/yearguess' method = 'post' >
	<input type = 'text' name = "year"/>
	<input type = "submit" class = "btn"/>
</form>