<h1>"It works! Ha ha, IT WORKS! I FINALLY invent something that works!" - Doc</h1>
<br>
<h1>"You bet your ass it works." - Marty</h1>
<br>
<img src="http://fc06.deviantart.net/fs25/i/2009/248/3/e/Flux_Capacitor_Time_Machine_by_cavemanmac.jpg">